/* Reset some default styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body uses Grid for layout */
body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Header with flexbox nav */
header {
    background-color: #484646;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0.5rem;
}

/*header nav {
    background-color: #333;
    display: flex;
    text-align: justify;
    color: white;

}*/

.nav-menu {
    background-color: #333;
    display: flex;
    list-style: none;
    gap: ;

}

/*.nav-menu {
    background-color: #333;
    display: fl;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
}*/

/*.nav-menu a {
    color: white;
    text-decoration: none;
    display: flex;
}*/

main {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: opx;
    padding: 1rem;
    background-color: #f9f9f9, white;
}

aside {
    background-color: white;
}

/* Sidebars and Main Content */
.sidebar-left,
.sidebar-right,
.main-content {
    background-color: #e0e0e0;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}