@media only screen and (min-width: 40rem) {

    /* ---------- Header ---------- */
    header {
        justify-content: space-between;
    }

    /* ---------- Hide Hamburger ---------- */
    #menuButton {
        display: none;
    }

    /* ---------- Navigation ---------- */
    nav {
        display: block;
        width: auto;
    }

    nav ul {
        flex-direction: row;
        gap: 1.5rem;
    }

    nav a {
        padding: 0;
    }

    /* ---------- Gallery Grid ---------- */
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ---------- Images of the same size ---------- */
    figure img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}