@media screen and (min-width: 500px) {

    /* Change header background and text color */
    header {
        background-color: #000;
        /* Black background */
        color: #fff;
        /* White text */
    }

    /* Display main content in two equal columns */
    main {
        grid-template-columns: 1fr 1fr;
    }
}